node_modules
**/build
**/lib
**/node_modules
**/mock_packages
**/static
**/typings
**/schemas
**/themes
coverage
*.map.js
*.bundle.js
src/assets/onnxruntime-web
**/public
#TypeDoc
typedoc-theme/

# ms IDE stuff
.history/
.vscode/
