MANIFEST
build
dist
lib
node_modules
.npmrc
.cache
.eslintcache
.vscode/*
!.vscode/launch.json
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.DS_Store
\#*#
.#*

*.swp
*.map
.idea/
*.log
.vscode
env_installer/
!env_installer/construct.yaml
public/model/*
public/js/*
!public/model/sub-M2002_ses-a1440_T2w.nii
!public/model/lesion_mask.nii